// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import "./assets/styles/colors.scss";
// Plus imports for other components in your app.
@import './assets/styles/bootstrap-custom/variables';
@import 'bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url("@fortawesome/fontawesome-free/css/all.min.css");

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$gnv-primary: mat.define-palette($gnv-primary-color, 500);
$gnv-accent: mat.define-palette($gnv-accent-color);

// The warn palette is optional (defaults to red).
$gnv-warn: mat.define-palette($gnv-warn-color);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gnv-theme: mat.define-light-theme(
  (
    color: (
      primary: $gnv-primary,
      accent: $gnv-accent,
      warn: $gnv-warn,
    ),
  )
);

.mat-primary.mat-mdc-unelevated-button:not(:disabled) {
  color: $Titles-Color !important;
}

.mat-mdc-raised-button.mat-mdc-unelevated-button:not(:disabled) {
  color: $Titles-Color !important;
}
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gnv-theme);

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/Mulish-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

// General

* {
  font-family: "Mulish";
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  mat-panel-title {
    color: white;
  }
  .mat-expansion-panel-header-description,
  .mat-expansion-indicator::after {
    color: white;
  }
  background: $primary !important;
}

.mat-stroked-custom {
  color: $primary !important;
  border-color: $primary !important;
}

.mat-stroked-bg-custom {
  background-color: $primary !important;
  border-color: $primary !important;
  color: white !important;
}

.req {
  color: red;
}

