<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="row h-100 w-100">
        <div class="col-6">
          <div class="card h-100 w-100">
            <div class="card-body">
              <h5 class="card-title">Medidor #1003501361</h5>
              <h6 style="margin: 0" class="card-subtitle text-muted">
                Dirección
              </h6>
              <p style="margin: 0" class="mb-2">Calle 47c #23-06</p>
              <h6 style="margin: 0" class="card-subtitle text-muted">
                Nombre contratante
              </h6>
              <p class="mb-2" style="margin: 0">
                Sebastián Andres Contreras Peralta.
              </p>
              <h6 style="margin: 0" class="card-subtitle text-muted">
                Fecha de facturación
              </h6>
              <p class="mb-2" style="margin: 0">Direccional.</p>
              <h6 style="margin: 0" class="card-subtitle text-muted">
                Número cuenta contrato
              </h6>
              <p class="mb-2" style="margin: 0">3243501697</p>
            </div>
            <div class="card-footer">
              <div class="text-center">
                <h6 style="margin: 0" class="card-subtitle text-muted">
                  Temperatura actual
                </h6>

                <p class="mb-2" style="margin: 0">
                  <i
                    style="color: #ffc000; font-size: 16px"
                    class="fa-solid fa-temperature-three-quarters"
                  ></i>
                  32°C
                </p>
              </div>
              <div class="text-center">
                <h6 style="margin: 0" class="card-subtitle text-muted">
                  Consumo reportado (KW)
                </h6>

                <p class="mb-2" style="margin: 0">
                  <i
                    style="color: #ffc000; font-size: 16px"
                    class="fa-solid fa-bolt"
                  ></i>
                  1200 KW
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div id="map" class="map-container"></div>
        </div>
      </div>
    </div>
    <div class="col-6 pt-2">
      <div class="card">
        <div class="card-body">
          <canvas #configBarRef></canvas>
        </div>
      </div>
    </div>
    <div class="col-6 pt-2">
      <div class="card">
        <div class="card-body">
          <canvas #myChart></canvas>
        </div>
      </div>
    </div>
    <div class="col-6 pt-2">
      <div class="card">
        <div class="card-body">
          <canvas #configLinesRef></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
