<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="row h-100 w-100">
        <div class="col-6">
          <div class="card h-100 w-100">
            <div class="card-body">asdsad</div>
          </div>
        </div>
        <div class="col-6">
          <div id="map"></div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card container-doughnut">
        <div class="card-body">
          <canvas #doughnut class="doughnut"></canvas>
        </div>
      </div>
    </div>
    <div class="col-6 pt-2">
      <div class="card">
        <div class="card-body">
          <canvas #myChart></canvas>
        </div>
      </div>
    </div>
    <div class="col-6 pt-2">
      <div class="card">
        <div class="card-body">
          <canvas #configBarRef></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
